[submodule "libs/imgui"]
	path = libs/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "libs/libs/imgui"]
	path = libs/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/stb"]
	path = libs/stb
	url = git@github.com:nothings/stb.git
